.webix_list {
    background: none;
    border: 2px solid white;
    border-radius: 5px;
}

.movies_tasks .webix_list_item, .movies_tasks .webix_list_item.webix_selected{
    width: 150px;
    padding: 0px 0px;
    border: 2px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    background-image:none;
    background-color:#aebaff;
    color: rgb(32, 32, 32);
}

.overall_tasks{
    border-radius: 4px;
    height: 160px;
}
  
  .title_tasks{
    height:60px;
    line-height:20px;
    overflow:hidden;
    font-weight:bold;
    float: left;
    margin-top: 6px;
    margin-left: 6px;
    width: 200px;
    word-wrap: break-word;
  }

  .title_long_tasks{
    height:60px;
    line-height:20px;
    overflow:hidden;
    font-weight:bold;
    float: left;
    margin-left: 6px;
    margin-top: 10px;
    width: 200px;
    word-wrap: break-word;
  }

  .status_tasks{
    height:20px;
    line-height:20px;
    overflow:hidden;
    margin-top: 5px;
    margin-left: 6px;
    float: left;
    width: 200px;
  }

.performer_tasks{
    height:20px;
    line-height:20px;
    overflow:hidden;
    margin-top: 5px;
    margin-left: 6px;
    font-weight:bold;
    float: left;
    width: 200px;
}