@font-face {
  font-family: RobotoMedium;
  src: url('../fonts/Roboto-Medium.ttf');
}

.webix_list {
    background: none;
    border: 2px solid white;
    border-radius: 5px;
}

.movies_tasks .webix_list_item, .movies_tasks .webix_list_item.webix_selected{
    width: 150px;
    padding: 0px 0px;
    border: 2px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    background-image:none;
    background-color:#aebaff;
    color: rgb(0, 0, 0);
}

.overall_tasks{
    font-family: RobotoMedium;
    border-radius: 4px;
    height: 130px;
}
  
.title_tasks{
    height:40px;
    width: 200px;
    margin-top: 6px;
    margin-left: 6px;
    line-height:20px;
    font-weight:bold;
    float: left;
    overflow:auto;
    word-wrap: break-word;
}

.status_tasks{
    height:20px;
    width: 200px;
    margin-top: 5px;
    margin-left: 6px;
    float: left;
    line-height:20px;
    overflow:hidden;
}

.performer_tasks{
    height:20px;
    line-height:20px;
    overflow:hidden;
    margin-top: 5px;
    margin-left: 6px;
    font-weight:bold;
    float: left;
    width: 200px;
}